button
    font-family: Inter
    font-weight: 500
    font-size: 24px
    margin: 0
    padding: 0
    border: 0
    cursor: pointer
    animation: click 250ms

@keyframes click
    0%
        transform: scale(100%)
    50%
        transform: scale(75%)
    100%
        transform: scale(100%)
